<div class="wrapper"> 
  <p>
    <mat-toolbar>
      <span>Opciones</span>
    </mat-toolbar>
  </p>

  <div class="container">
    <p>
      <button
        mat-flat-button color="accent"
        (click)="insertar()">
        Nuevo
      </button>
    </p>
    
    <mat-card>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef> Código. </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
      
        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef> URL </th>
          <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container>
      
        <ng-container matColumnDef="icono">
          <th mat-header-cell *matHeaderCellDef> Icono </th>
          <td mat-cell *matCellDef="let element"> {{element.icono}} </td>
        </ng-container>
      
        <ng-container matColumnDef="accion">
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let element">
            <button color="accent" (click)="editar(element)" mat-icon-button aria-label="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button color="warn" (click)="eliminar(element)" mat-icon-button aria-label="Eliminar">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </mat-card>
    <router-outlet></router-outlet>
  </div>

</div>